body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #0E1726;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #0E1726;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
    font-weight: 600;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 60px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    transition: color 0.3s;
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #FF416C;
    transition: width 0.3s;
}

nav ul li a:hover::before {
    width: 100%;
}

nav ul li a:hover {
    color: #FF416C;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px;
    background-color: #0E1726;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 58px;
    margin-bottom: 25px;
    animation: slideInLeft 1s ease-in-out;
    left: 300px;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
        left: 30px;
    }
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background: linear-gradient(90deg, #FF416C, #FF4B2B, #FF416C);
    background-size: 200% 200%;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 18px;
    transition: background-position 0.5s;
    animation: slideInUp 1s ease-in-out;
}

.cta-button:hover {
    background-position: right center;
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-image {
    position: relative;
    width: 45%;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.image-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at center, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0));
    border-radius: 15px;
    z-index: -1;
    filter: blur(100px);
    pointer-events: none;
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    animation: slideInRight 1s ease-in-out forwards;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#scrollToTopBtn:hover {
    background-color: #FF416C;
    color: #fff;
}

.boxing-glove {
    position: fixed;
    bottom: 80px;
    left: 80px;
    width: 120px;
    height: 120px;
    transform: rotate(-35deg);
    animation: fadeInGlove 1s ease-in-out forwards;
}

@keyframes fadeInGlove {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        transform: rotate(-35deg);
    }
}

.boxing-glove img {
    width: 100%;
    height: auto;
    border-radius: 15%;
}

.boxing-glove::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at center, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0));
    border-radius: 50%;
    z-index: -1;
    filter: blur(20px);
    pointer-events: none;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-image {
        margin-top: 20px;
        width: 100%;
    }
}
